* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, 1200px);
  align-items: center;
  justify-content: center;

}

.board {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}