@use 'reset';
@use 'variables/global';
@use 'themes/normal';
@use 'themes/dark';

.app {
    min-height: 100vh;
    font: var(--font-m);
    color: var(--text);
    background: var(--bg);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px; /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    border: 2px solid var(--dark-bg); /* padding вокруг плашки */
    border-radius: 20px; /* закругления плашки */
    background-color: var(--overlay-color); /* цвет плашки */
}
