.Button {
    cursor: pointer;

    display: flex;
    align-items: center;

    padding: 8px 16px;

    color: var(--text);

    &:hover {
        color: var(--accent);

        .addonLeft svg,
        .addonRight svg {
            color: var(--accent);
        }
    }
}

.withAddon {
    padding: 0 16px;
}

.addonLeft,
.addonRight {
    display: flex;
}

.addonRight svg,
.addonLeft svg {
    color: var(--hint);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.filled {
    border: none;
    border-radius: 34px;
    background: var(--light-bg);
    outline: none;
}

.outline {
    border: 1px solid var(--icon);
    border-radius: 34px;
    background: none;

    &:hover {
        border: 1px solid var(--accent);
    }
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
