.Sidebar {
    position: relative;

    width: 220px;
    height: 100%;
    border-radius: 32px;

    background: var(--light-bg);

    .appLogo {
        padding-top: 20px;
    }

    .items {
        margin-top: 40px;
    }

    .collapseBtn {
        position: absolute;
        z-index: 10;
        top: 50%;
        right: 0;
        transform: rotate(90deg);
    }

    .switchers {
        position: absolute;
        bottom: 40px;

        display: flex;
        gap: 16px;
        justify-content: center;

        width: 100%;
    }
}

.collapsed {
    width: 50px;

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .items {
        display: flex;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .collapseBtn {
        transform: rotate(-90deg);
    }
}
