.Icon {
    color: var(--icon-redesigned);
}

.button {
    cursor: pointer;

    margin: 0;
    padding: 0;
    border: none;

    background: none;
    outline: none;
}

.button:hover .Icon {
    color: var(--accent-redesigned);
}
