.Navbar {
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--navbar-height);
    padding: 16px;

    background: var(--accent);
}

.links,
.actions {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
}
